body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* -----------------Buttion-------------- */
.btn{
    width: 150px;
    border-radius: 20px;
    height: 40px;
    border: 1px solid #969696;
    color: tomato;
    background-color: #081158;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    margin: auto;
    transition: all .5s;
    cursor: pointer;
    &:hover{
        background-color: #fff;
        color: #000;
    }
}
/* -----------------Buttion-------------- */




/* --------------------- Header Starts------------------------ */

.header{
    position: relative;
    width: 100%;
    height: 12vh;
    z-index: 1;
    .content{
        position: relative;
        width: 1300px;
        height: 100%;
        align-items: center;
        display: flex;
        margin: auto;
        justify-content: space-between;
        .logo{
            font-size: 35px;
            margin: 0;
            font-weight: bold;
        }
        .Navigation{
            & a{
                margin-right: 27px;
                font-size: .9rem;
                text-decoration: none;   
            }
            .DropDown{
                display: inline;
                position: relative;
                transition: all .5s;
                & a{
                    padding-bottom: 40px;
                }
                &:hover{
                    .droped{
                        display: block;
                    }
                }

                .droped{
                    position: absolute;
                    height: 90px;
                    width: 150px;
                    background-color: #fff;
                    border: 1px solid #ebeaea;
                    left: 0;
                    top: 40px;
                    display: none;
                    box-shadow: 5px 5px 10px #aaa9a936;
                    & a{
                        display: block;
                        padding: 7px 20px;
                        margin-right: 0;
                        margin-bottom: 0;
                        &:hover{
                            background-color: #edeef0;
                        }
                    }
                    .sub-nav{
                        position: relative;
                        &:hover{
                            .sub-list{
                                display: block;
                            }
                        }
                        .sub-list{
                            position: absolute;
                            height: 90px;
                            width: 150px;
                            background-color: #fff;
                            border: 1px solid #ebeaea;
                            left: 140px;
                            top: 0px;
                            display: none;
                            box-shadow: 5px 5px 10px #aaa9a936;
                        }
                    }
                }
            }
        }
    }
}

/* --------------------------header ends----------------------------- */



/* ----------------------------home section starts-------------------------- */

.home{
    width: 100%;
    height: 60vh;
    position: relative;
    .container{
        width: 1300px;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        .left{
            width: 50%;
            & h5{
                padding: 7px 16px;
                background-color: rgb(248, 243, 197);
                display: inline;
                border-radius: 20px;
                color: rgb(247, 159, 144);
                text-transform: uppercase;
                font-size: 10px;
            }
            & h1{
                font-size: 3rem;
                font-weight: bolder;
            }
            & p{
                opacity: .5;
                padding-bottom: 35px;
                width: 500px;
            }
            .b{
                height: 45px;
                color: #fff;
                &:hover{
                    color: #081158;
                }
            }
            .bt{
                height: 45px;
                background-color: #fff;
                color: #081158;
                &:hover{
                    color: #fff;
                    background-color: #081158;
                }
            }
        }
        .right{
            & img{
                height: 450px;
            }
        }
    }
}


/* ----------------------------home section Ends-------------------------- */

/* -------------------------Features section Starts------------------------------ */

.features{
    width: 100%;
    height: fit-content;
    position: relative;
    .container{
        width: 1200px;
        margin: auto;
        text-align: center;
        justify-content: center;
        .vip{
            padding: 7px 16px;
            background-color: rgb(248, 243, 197);
            display: inline;
            border-radius: 20px;
            color: rgb(225, 75, 48);
            text-transform: uppercase;
            font-size: 12px;
        }
        & h1{
            font-size: 2.5rem;
            font-weight: bolder;
        }
        & P{
            width: 650px;
            justify-content: center;
            margin: 0 auto;
            opacity: .5;
        }
    }
    .container2{
        width: 80%;
        height:fit-content;
        margin: auto;
        .items{
            display: flex;
            flex-wrap: wrap ;
            .item{
                position: relative;
                height: 300px;
                width: 300px;
                margin: 30px 50px;
                justify-content: center;
                display: flex;
                flex-direction: column;
                text-align: center;
                & img{
                    height: 80px;
                    margin: 0 auto;
                }
                & h3{
                    font-size: 1.5rem;
                }
                & p{
                    margin-top: -10px;
                    opacity: .5;
                }
            }
        }
    }
}

/* -------------------------Features section Ends------------------------------ */



/* ----------------------------About section Starts-------------------------- */
.about-section{
    width: 100%;
    height: 60vh;
    position: relative;
    .container{
        width: 1300px;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        .right{
            width: 500px;
            margin-left: 100px;
            & h5{
                padding: 7px 16px;
                background-color: rgb(248, 243, 197);
                display: inline;
                border-radius: 20px;
                color: rgb(247, 159, 144);
                text-transform: uppercase;
                font-size: 10px;
            }
            & h1{
                font-size: 3rem;
                font-weight: bolder;
            }
            & p{
                opacity: .5;
                width: 500px;
            }
            & ul{
                list-style: none;
                margin-left: -50px;
                opacity: .5;
                padding-bottom: 35px;
            }
        }
        .left{
            width: 800px;
            & img{
                height: 400px;
            }
        }
    }
}


/* ----------------------------About section Ends-------------------------- */