body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* -----------------Buttion-------------- */

.btn{
    width: 150px;
    border-radius: 20px;
    height: 40px;
    border: 1px solid #969696;
    color: tomato;
    background-color: #081158;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    margin: auto;
    transition: all .5s;
    cursor: pointer;
    &:hover{
        background-color: #fff;
        color: #000;
    }
}

/* -----------------Buttion-------------- */




/* --------------------- Header Starts------------------------ */

.header{
    position: relative;
    width: 100%;
    height: 12vh;
    z-index: 1;
    .content{
        position: relative;
        width: 1300px;
        height: 100%;
        align-items: center;
        display: flex;
        margin: auto;
        justify-content: space-between;
        .logo{
            font-size: 35px;
            margin: 0;
            font-weight: bold;
        }
        .Navigation{
            & ul{
                z-index: 5;
                background: #fff;
                left: 0;
                width: 100%;
                height: 100vh;
                top: 80px;
                position: absolute;
                display: none;
                list-style: none;
                & li{
                    top: 100px;
                    margin: 30px 0;
                }
            }

            #check,.check{
                    display: none;
                    font-size: 2rem;
            }
            & a{
                margin-right: 27px;
                font-size: .9rem;
                text-decoration: none;   
            }
            .DropDown{
                display: inline;
                position: relative;
                transition: all .5s;
                & a{
                    padding-bottom: 40px;
                }
                &:hover{
                    .droped{
                        display: block;
                    }
                }

                .droped{
                    position: absolute;
                    height: 90px;
                    width: 150px;
                    background-color: #fff;
                    border: 1px solid #ebeaea;
                    left: 0;
                    top: 40px;
                    display: none;
                    box-shadow: 5px 5px 10px #aaa9a936;
                    & a{
                        display: block;
                        padding: 7px 20px;
                        margin-right: 0;
                        margin-bottom: 0;
                        &:hover{
                            background-color: #edeef0;
                        }
                    }
                    .sub-nav{
                        position: relative;
                        &:hover{
                            .sub-list{
                                display: block;
                            }
                        }
                        .sub-list{
                            position: absolute;
                            height: 90px;
                            width: 150px;
                            background-color: #fff;
                            border: 1px solid #ebeaea;
                            left: 140px;
                            top: 0px;
                            display: none;
                            box-shadow: 5px 5px 10px #aaa9a936;
                        }
                    }
                }
            }
        }
    }
}


/* --------------------------header ends----------------------------- */



/* ----------------------------home section starts-------------------------- */

.home{
    width: 100%;
    height: 60vh;
    position: relative;
    .container{
        width: 1300px;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        .left{
            width: 45%;
            & h5{
                padding: 7px 16px;
                background-color: rgb(248, 243, 197);
                display: inline;
                border-radius: 20px;
                color: rgb(247, 159, 144);
                text-transform: uppercase;
                font-size: 10px;
            }
            & h1{
                font-size: 3rem;
            }
            & p{
                opacity: .5;
                padding-bottom: 35px;
                width: 500px;
            }
            .b{
                height: 45px;
                color: #fff;
                &:hover{
                    color: #081158;
                }
            }
            .bt{
                height: 45px;
                background-color: #fff;
                color: #081158;
                &:hover{
                    color: #fff;
                    background-color: #081158;
                }
            }
        }
        .right{
            & img{
                height: 450px;
            }
        }
    }
}


/* ----------------------------home section Ends-------------------------- */



/* ----------------------------Questions section Starts-------------------------- */

.question{
    width: 100%;
    height: 80vh;
    position: relative;
    margin: 50px 0;
    background-color: #F8F9FA;
    padding: 40px 0;
    .container{
        width: 1100px;
        height: 100%;
        margin: auto;
        .text{
            text-align: center;
            & p1{
                padding: 7px 16px;
                background-color: rgb(248, 243, 197);
                display: inline;
                border-radius: 20px;
                color: rgb(225, 75, 48);
                text-transform: uppercase;
                font-size: 12px;
            }
        }
        .qtn{
            width: 1100px;
            height: fit-content;
            margin: 100px auto;
            justify-content: center;
            .head{
                height: 40px;
                width: 100%;
                background-color: #fff;
                font-size: 1.3rem;
                font-weight: bolder;
                padding-top: 15px;
                padding: auto 50px;
                border-radius: 8px;
                transition: all .5s;
                &:nth-child(2){
                    margin: 10px 0;
                }
                & i{
                    padding-left: 30px;
                    padding-right: 15px;
                    transition: all .3s;
                }
                .child{
                    transition: all .5s;
                }
                .child{
                    font-size: 1rem;
                    font-weight: normal;
                    margin-top:15px;
                    background-color: #fff;
                    padding: 6px 20px;
                    display: none;
                    transition: all .5s;
                    z-index: 5;
                    & p{
                        transition: all .5s;

                    }
                }
                .fa-minus{
                    display: none;
                }
                &:hover{
                    background-color: #081158;
                    color: #fff;
                    margin-bottom: 100px;
                    .fa-minus{
                        display: inline;
                    }
                    .fa-plus{
                        display: none;
                    }
                    .child{
                        display: block;
                        color: #000;
                        transition: all .5s;
                        z-index: 2;
                    }
                }
            }
        }
    }
}


/* ----------------------------Questions section Ends-------------------------- */




/* -------------------------Features section Starts------------------------------ */

.features{
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 100px 0;
    .container{
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        .vip{
            padding: 7px 16px;
            background-color: rgb(248, 243, 197);
            display: inline;
            border-radius: 20px;
            color: rgb(225, 75, 48);
            text-transform: uppercase;
            font-size: 12px;
        }
        & h1{
            font-size: 2.5rem;
            font-weight: bolder;
        }
        & P{
            width: 70%;
            justify-content: center;
            margin: 0 auto;
            opacity: .5;
        }
    }
    .container2{
        width: 80%;
        height:fit-content;
        margin: 0 auto;
        margin-top: -400px;
        .items{
            height: 100%;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            height: fit-content;
            display: flex;
            flex-wrap: wrap ;
            .item{
                position: relative;
                height: 300px;
                width: 300px;
                margin: 30px 50px;
                justify-content: center;
                display: flex;
                flex-direction: column;
                text-align: center;
                & img{
                    height: 80px;
                    margin: 0 auto;
                }
                & h3{
                    font-size: 1.5rem;
                }
                & p{
                    margin-top: -10px;
                    opacity: .5;
                }
            }
        }
    }
}

/* -------------------------Features section Ends------------------------------ */



/* ----------------------------About section Starts-------------------------- */

.about-section{
    width: 100%;
    height: 60vh;
    position: relative;
    .container{
        width: 1300px;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        .right{
            width: 500px;
            margin-left: 100px;
            & h5{
                padding: 7px 16px;
                background-color: rgb(248, 243, 197);
                display: inline;
                border-radius: 20px;
                color: rgb(247, 159, 144);
                text-transform: uppercase;
                font-size: 10px;
            }
            & h1{
                font-size: 3rem;
                font-weight: bolder;
            }
            & p{
                opacity: .5;
                width: 500px;
            }
            & ul{
                list-style: none;
                margin-left: -50px;
                opacity: .5;
                padding-bottom: 35px;
            }
        }
        .left{
            width: 800px;
            & img{
                height: 400px;
            }
        }
    }
}


/* ----------------------------About section Ends-------------------------- */


/* ------------------------------Service Section Starts------------------------ */

.service-section{
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 100px 0;
    & p , h1{
        text-align: center;
        color: #081158;
    }
    .container{
        width: 70%;
        height: fit-content;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .item{
            height: 180px;
            width: 500px;
            border: 1px solid #e1dddd50;
            margin: 20px auto;
            position: relative;
            display: flex;
            align-items: center;
            & img{
                height: 80px;
                margin: auto 40px;
                justify-content: center;
            }
            .text-op{
                text-align: left;
                justify-content: left;
                & P{
                    text-align: left;
                    opacity: .5;
                }
            }

        }
    }
}

/* ------------------------------Service Section End------------------------ */


/* ---------------------------------Tean Section Starts------------------------------- */
.team{
    height: fit-content;
    width: 100%;
    position: relative;
    padding: 50px 0;
    .text{
        text-align: center;
        padding: 30px 0;
        & p1{
            padding: 7px 16px;
            background-color: rgb(248, 243, 197);
            display: inline;
            border-radius: 20px;
            color: rgb(247, 159, 144);
            text-transform: uppercase;
            font-size: 10px;
        }
        & p{
            width: 500px;
            margin: auto;
        }
    }
    .container{
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        .item{
            width: 200px;
            height: 250px;
            margin: 30px auto;
            text-align: center;
            & img{
                height: 200px;
                width: fit-content;
                margin: 0 auto;
                justify-content: center;
                border-radius: 7px;
            }
        }
    }
}





/* ---------------------------------Tean Section Ends------------------------------- */


/* --------------------------------------Stats section starts--------------------------- */
.stats{
    width: 100%;
    height: 48vh;
    position: relative;
    background-color: #F8F9FA;
    padding-top: 90px;
    .container{
        position: relative;
        margin: auto;
        width: 1200px;
        height: 100%;
        align-items: center;
        .text{
            text-align: center;
            & p1{
                padding: 7px 16px;
            background-color: rgb(248, 243, 197);
            display: inline;
            border-radius: 20px;
            color: rgb(247, 159, 144);
            text-transform: uppercase;
            font-size: 10px;
            }
            & p{
                width: 600px;
                margin: 0 auto;
                opacity: .5;
            }
        }
        .numaric{
            width: 100%;
            height: 100%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            & span{
                margin: 70px 30px;
                font-size: 4rem;
                font-weight: bolder;

            }
        }
    }
}



/* --------------------------------------Stats section Ends--------------------------- */

/* ------------------------------Testimonials Section Starts------------------- */

.Testimonials{
    width: 100%;
    height: fit-content;
    position: relative;
    padding: 100px 0;
    .text{
        text-align: center;
        .b{
            padding: 7px 16px;
            background-color: rgb(248, 243, 197);
            display: inline;
            border-radius: 20px;
            color: rgb(247, 159, 144);
            text-transform: uppercase;
            font-size: 10px;
        }
        .para{
            width: 500px;
            margin: 0 auto;
            opacity: .5;
        }
    }
    .container{
        width: 95%;
        height: 100%;
        margin: 50px auto;
        display: flex;
        & i{
            font-size: 2.6rem;
            opacity: .6;
            font-weight: normal;
            transform: translateY(120px);
        }
        .items{
            height: fit-content;
            width: 90%;
            display: flex;
            flex-wrap:wrap ;
            align-items: center;
            justify-content: center;
            margin: auto;
            .item{
                background-color: #fff;
                border-radius: 10px;
                height: 220px;
                width: 380px;
                margin: 20px 20px;
                border: 1px solid #d0cecead;
                padding: 10px 20px;
                transition: all .5s;
                &:hover{
                    border: 1px solid #000000;
                }
                & p{
                    font-size: 1.3rem;
                    opacity: .6;
                }
                .img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & div{
                        margin: 0 20px;
                    }
                    & img{
                        height: 50px;
                    }
                    .name{
                        line-height: 10px;
                        display: block;
                        & p{
                            font-size: 1rem ;
                        }
                    }
                }
            }
        }
    }
}

/* ------------------------------Testimonials Section Ends------------------- */



/* ------------------------------Contact Section Starts------------------- */

.container{
    position: relative;
    width: 700px;
    height: 600px;
    margin: 50px auto;
    .name{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        .child{
            &:first-child{
                margin-right: 30px;
            }
            & label{
                opacity: .5;
            }
            & input{
                height: 35px;
                width: 300px;
                border: 2px solid #b2b0b074;
                outline: none;
                border-radius: 3px;
                padding: 0 15px;
            }
        }
    }
    & label{
        opacity: .5;
    }
    & input{
        height: 45px;
        width: 661px;
        border: 2px solid #b2b0b074;
        outline: none;
        border-radius: 3px;
        padding: 0 15px;
        
    }
    & textarea{
        border: 2px solid #b2b0b074;
        outline: none;
        border-radius: 3px;
        padding: 10px 15px;
        font-size: 19px;
    }
}


/* ------------------------------Contact Section Ends------------------- */





/* ---------------------------------Footer Section Starts------------------------------- */

.footer{
    width: 100%;
    height: 45vh;
    position: relative;
    .container{
        width: 80%;
        height: 100%;
        margin: auto;
        display: flex;
        .item{
            margin: auto ;
            & p{
                opacity: .5;
            }
            & ul{
                list-style: none;
                line-height: 30px;
                margin-left: -35px;
                & li{
                    opacity: .5;
                }
                & i{
                    margin-right: 10px;
                }
            }
            & i{
                margin: 0 5px;
                transform: scale(1.3);
            }
        }
    }
}


/* ---------------------------------Footer Section ends------------------------------- */




/* ----------------------------------- Mobile view section Starts----------------------------- */

@media (max-width:768px) {

    /* ------------head---------- */
    .header{
        position: sticky;
        top: 0;
        background-color: #fff;
        .content{
            width: 100%;
            .logo{
                padding-left: 20px;
            }
            .Navigation{
                .DropDown{
                    display: none;
                }
                & a, .btn{
                    display: none;
                    line-height: 50px;
                    margin-top: 20px;
                }
                .check{
                    display: block;
                    position: absolute;
                    right: 70px;
                    top: 30px;
                }
                & ul{
                    display: block;
                    left: -800px;
                    transition: all .5s;
                    & li a{
                        display: block; 
                        
                    }
                }
                #check:checked ~ ul{
                    left: 0;
                }
            }
        }
    }
    
    
    
    /* ------------Home---------- */
    
    .home{
        position: relative;
        width: 100%;
        height: fit-content;
        .container{
            display: block;
            height: 100%;
            width: 85%;
            margin: 0  auto;
            justify-content: center;
            align-items: center;
            margin-bottom: -130px;
            .left{
                width: 80%;
                margin: 50px;
                & h1{
                    font-size: 2rem;
                }
                & p{
                    width: 100%;
                }
            }
            .right{
                margin: 0 auto;
                transform: scale(.7);
            }


        }
    }


    /* ------------About---------- */
    .about-section{
        width: 100%;
        height: fit-content;
        position: relative;
        .container{
            width: 95%;
            display: block;
            .left{
                transform: scale(.7);
                margin: -150px 0 20px -70px;
            }
            .right{
                width: 100%;
                & p{
                    width: 80%;
                }
            }

        }
    }


    /* ------------TestMonials---------- */
    .Testimonials{
        width: 100%;
        margin-top: -150px;
    }
    .footer{
        width: 100%;
        height: fit-content;
        position: relative;
        .container{
            display: block;
        }
    }




}


/* ----------------------------------- Mobile view section Ends----------------------------- */